.userAccount {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    padding: 6px;
}

.userPic {
    width: 4rem;
    border-radius: 50%;
    vertical-align: middle;
}

.userDetails>p {
    margin: 0 1rem;
    line-height: 2.1rem;
    font-size: 1.5rem;
}

.userName {
    font-weight: bold;
}

.btnFollow {
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 2rem
}