.mainContainer {
    display: flex;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    max-width: 130rem;
    background-color: var(--background-color);
    color: var(--text-color);
}