.tweetBoxContainer {
    margin-top: 0.5rem;
    width: 100%;
    border-bottom: 3px solid var(--COLOR-TEXT-NORMAL);
}

.tweetBoxInput {
    display: flex;
    width: 100%;
}

.avatarPic {
    height: 6rem;
    width: 6rem
}

.tweetBox {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.inputBox {
    min-height: 30px;
    width: 100%;
    height: 5rem;
    font-size: 1.8rem;
    border: 0;
    background-color: transparent;
    padding: 10px;
    height: auto;
    overflow-wrap: break-word;
    resize: none;
    height: 100%;
}

.inputBox:focus {
    outline: none;
}

.icons {
    margin-top: 1rem;
    font-size: 2.5rem;
    display: flex;
}

.icons>* {
    margin-right: 3rem;
    color: var(--primary-color)
}

.emojiPickerContainer {
    cursor: pointer;
    position: relative;
}

.emojiPicker {
    position: absolute;
    left: -2rem;
    z-index: 5;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.createTweetRightSide {
    display: flex;
    align-items: center;
}


.tweetBtn {
    border-radius: 30px;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    margin-left: 3rem
}


.charCountCircle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.acceptCharCount {
    border: 1px solid var(--primary-color)
}

.rejectCharCount {
    border: 1px solid #ef1717;
    color: #ef1717
}

/*  for edit post modal  */

.customModal {
    width: 52rem !important;
}