.nav_parent {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    height: 100%;
    top: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 2rem;
    width: 28rem;
    overflow-y: auto;
}

.logo {
    width: 4rem;
    height: 4rem;
    margin-left: 1.6rem;
    margin-top: 1rem;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 7.5rem);
    margin-left: 1rem;
}

.navList {
    padding: 1.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.userAccount:hover,
.navList:hover {
    background-color: var(--COLOR-HOVER-BLUE);
    transition: linear 0.2s;
}

.navIcon,
.navText {
    font-size: 2rem;
    font-weight: 400;
    vertical-align: middle;
    color: var(--COLOR-TEXT-NORMAL);
}

.navText {
    margin-left: 1rem;
    color: var(--text-color)
}

.navIcon {
    font-size: 3rem;
    color: var(--text-color)
}

.navText_active {
    font-weight: 700;
}

.btnTweet {
    margin-top: 3.5rem;
    padding: 1.8rem 2.5rem;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.8rem;
    width: 100%;
}

.userAccountModalOption,
.userAccount {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 50px;
    cursor: pointer;
    padding: 6px 10px;
}

.userAccountModalOption {
    margin-bottom: 0;
}

.userPic {
    width: 5rem;
    border-radius: 50%;
    vertical-align: middle;
}

.userDetails>p {
    margin: 0 1rem;
    line-height: 2.2rem;
    font-size: 1.6rem;
}

.userName {
    font-weight: bold;
}

.options {
    margin-left: 1rem;
    vertical-align: middle;
}

.userAccountParent {
    position: relative;
}

.userAccount:hover {
    background-color: #93AFD9;
    transition: linear 0.2s;
    width: 100%;
}

.checkIcon {
    color: green
}

.userAccountModal {
    position: absolute;
    bottom: 9rem;
    border: 1px solid var(--COLOR-TEXT-NORMAL);
    border-radius: 10px;
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
}


.logoutBtn {
    color: var(--text-color);
}

.logoutBtn:hover {
    background-color: var(--COLOR-HOVER-BLUE);
    border-radius: inherit;
}


/* ** Right Sidebar *** */

.rightSidebarcontainer {
    width: 37rem;
    padding-right: 2rem;
    padding-left: 2rem;
    position: sticky;
    height: 100%;
    top: 0;

}

.rightHeaderContainer {
    display: flex;
    align-items: center;
}

.search {
    border: 1px solid var(--COLOR-TEXT-NORMAL);
    width: 22rem;
    border-radius: 20px;
    padding: 12px 18px;
    margin-top: 1rem;
    width: 100%;
    display: flex;
}

.search>input {
    padding-left: 1.2rem;
    border: none;
    vertical-align: middle;
    background-color: transparent;
    width: 100%;
    font-size: 1.8rem;
}

.search>input:focus {
    outline: none;
}

.searchIcon {
    font-size: 2rem;
    vertical-align: bottom
}

.following {
    background-color: #efef1d;
}

.modeIcon {
    font-size: 3rem;
    margin: 8px;
    margin-top: 15px;
    margin-left: auto;
    cursor: pointer;
}

.card {
    width: 30rem;
    min-height: 20rem;
    height: auto;
    margin-top: 2rem;
    background: var(--background-color-card);
}

.cardHeading {
    margin-bottom: 2rem;
}

.mylink {
    margin-top: 1.5rem;
    text-align: center;
    text-decoration: underline;
}

.userAccAccount {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    padding: 6px;
    justify-content: space-between;
}


.userAccAccountWrapper {
    display: flex;
    align-items: center;
}

.userAccPic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    vertical-align: middle;
}

.userAccDetails>p {
    margin: 0 1rem;
    line-height: 2.1rem;
    font-size: 1.5rem;
}

.userAccName {
    font-weight: bold;
}

.btnFollow {
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 2rem;
    margin-left: auto;
}