.explore__main {
    width: 100%;
    padding: 1rem 2rem;
    padding-top: 0;
    height: 100%;
    min-height: 100vh;
    border-left: 1px solid var(--COLOR-TEXT-NORMAL);
    border-right: 1px solid var(--COLOR-TEXT-NORMAL);
}

.explore__header {
    background-color: var(--COLOR-BACKGROUND-OPACITY);
    position: sticky;
    top: 0;
    padding: 1rem;
    backdrop-filter: blur(2px);
    z-index: 2;
}