.avatarImg {
    width: 4.2rem;
    border-radius: 50%;
}

.postContainer {

    border-bottom: 2px solid var(--COLOR-TEXT-NORMAL);
}

.post {
    display: flex;
}

.post:last-child {
    border-bottom: 0;
}

.postBody {
    flex: 1;
    padding: 2rem 1rem 2rem 5px;
}

.postFooter {
    display: flex;
    margin-top: 2rem;
    font-size: 2.2rem;
    justify-content: space-between;
    position: relative;
}

.postFooter>* {
    margin-right: 2rem;
    cursor: pointer;
}

.postHeaderDescription {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.postHeaderDescription>p {
    margin: 0;
    padding: 0
}

.postHeaderText {
    display: flex;
    align-items: center;
}

.postHeaderText>h3 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.postHeaderText>p {
    margin: 0;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-bottom: 5px;
}

.postAvatar {
    padding-top: 20px;
    padding-right: 12px;
    padding-left: 5px;
}

.postReact {
    display: flex;
    align-items: center;
}

.postReactCount {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}

.commentContainer {
    width: 100%;

    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid #aaa4a4
}

.commentContainer>input:focus {
    outline: none;
}

.commentInput {
    display: flex;
    align-items: center;
}

.commentInput>input {
    font-size: 1.6rem;
}

.commentInput>input:focus {
    outline: none
}

.commentBox {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    border: 1px solid var(--COLOR-TEXT-NORMAL);
}

.replyBtn {
    border-radius: 20px;
}


.emojiPickerContainer {
    cursor: pointer;
    position: relative;
    color: var(--COLOR-TEXT-NORMAL);
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.emojiPicker {
    position: absolute;
    left: -10rem;
    z-index: 5;
}

.user {
    font-size: 3.5rem;
    margin-right: 1rem;
}