.avatarImg {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}

.postContainer {

    border-bottom: 2px solid var(--COLOR-TEXT-NORMAL);
}

.post {
    display: flex;
}

.post:last-child {
    border-bottom: 0;
}

.postBody {
    flex: 1;
    padding: 2rem 1rem 2rem 5px;
}

.postFooter {
    display: flex;
    margin-top: 2rem;
    font-size: 2.2rem;
    justify-content: space-between;
    position: relative;
}

.postFooter>* {
    margin-right: 2rem;
    cursor: pointer;
}

.postHeaderDescription {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.postHeaderDescription>p {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-wrap: break-word;
}

.postHeaderText {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.postHeaderText>h3 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.postHeaderText>p {
    margin: 0;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-bottom: 5px;
}

.postAvatar {
    padding-top: 20px;
    padding-right: 12px;
    padding-left: 5px;
    cursor: pointer
}

.postReact {
    display: flex;
    align-items: center;
    color: var(--text-color)
}

.postHeaderWrapper {
    display: flex;
    align-items: center;
}

.verticalOptionIconContainer {
    position: relative;
    display: flex;
    margin-left: auto;

}

.verticalOptionIconWrapper {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.verticalOptionIconWrapper:hover {
    background-color: #aaa4a4;
}

.optionExpand {
    position: absolute;
    bottom: -6.5rem;
    left: -9.2rem;
    background-color: var(--COLOR-HOVER-BLUE);
    border-radius: 4px;
    z-index: 2;
}

.customList {
    list-style: none;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.customList:hover {
    background-color: #84a3d0;
}

.customListBtn {
    display: flex;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.postReactCount {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    font-size: 1.4rem;
}

.commentContainer {
    width: 100%;

    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid #aaa4a4
}

.commentContainer>input:focus {
    outline: none;
}

.commentInput {
    display: flex;
    align-items: center;
}

.commentInput>input {
    font-size: 1.6rem;
}

.commentInput>input:focus {
    outline: none
}

.commentBox {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    border: 1px solid var(--COLOR-TEXT-NORMAL);
}

.replyBtn {
    border-radius: 20px;
}


.emojiPickerContainer {
    cursor: pointer;
    position: relative;
    color: var(--text-color);
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.emojiPicker {
    position: absolute;
    left: -10rem;
    z-index: 5;
}

.user {
    font-size: 3.5rem;
    margin-right: 1rem;
}