.homepage__main {
    width: 100%;
    padding: 1rem 2rem;
    min-width: fit-content;
    /* overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; */
    height: 100%;
    border-left: 1px solid var(--COLOR-TEXT-NORMAL);
    border-right: 1px solid var(--COLOR-TEXT-NORMAL);
}

.homepage__main::-webkit-scrollbar {
    display: none;
}

.homepage__header {
    background-color: var(--COLOR-BACKGROUND)
}